
body {
    background: linear-gradient(90deg, #848e47, #949e51, #9ec0db);
    color: var(--c-white);
}

.portfolioCover {
    overflow: hidden;
}

.portfoioHeadBox {
    opacity: .65;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
    color: var(--c-white);
    text-align: center;
}

.portfoioHead {
    font-size: 100px;
    line-height: 120px;
}

@media (min-width: 1400px) {
    .portfoioHead {
        font-size: 5.71vw;
        line-height: 6.86vw;
    }
}

@media (max-width: 640px) {
    .portfoioHead {
        font-size: 80px;
        line-height: 100px;
    }
}

@media (min-width: 1400px) {
    .portfoioHead {
        font-size: 4.57vw;
        line-height: 5.71vw;
    }
}

.portfoioText {
    font-size: 40px;
    line-height: 48px;

}

@media (min-width: 1400px) {
    .portfoioText {
        font-size: 2.29vw;
        line-height: 2.74;
    }
}

/* -------- Arrow ----------- */
.arrow-down {
    margin: 30px;
    display: inline-block;
    cursor: pointer;
}

@media (min-width: 1400px) {
    .arrow-down {
        margin: 1.71vw;
    }
}

.arrow-down span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #a0a1a2;
    border-right: 5px solid #dedede;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}

@media (min-width: 1400px) {
    .arrow-down span  {
        width: 1.14vw;
        height: 1.14vw;
        border-bottom: .29vw solid #a0a1a2;
        border-right: .29vw solid #dedede;
        margin: -.91vw;
    }
}

.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



/* -------- Arrow ----------- */

.innerHead {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 30px;
}

@media (min-width: 1400px) {
    .innerHead {
        margin-bottom: 1.71vw;
    }
}

.innerWrapper {
    width: 960px;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .innerWrapper {
        width: 54.86vw;
    }
}

@media (max-width: 960px) {
    .innerWrapper {
        width: 600px;
    }
}

@media (max-width: 640px) {
    .innerWrapper {
        width: 480px;
    }
}

.innerTxt {
    width: 600px;
    margin: 0 auto 50px 196px;
}

@media (min-width: 1400px) {
    .innerTxt {
        width: 34.29vw;
        margin: 0 auto 2.86vw 11.2vw;
        font-size: 3em;
    }
}

@media (max-width: 960px) {
    .innerTxt {
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 640px) {
    .innerTxt {
        margin-bottom: 30px;
        width: 450px;
    }
}

.innerTxt a {
    color: var(--c-white);
    font-family: var(--f-text);
}

.innerTxt a:hover {
    text-decoration: none;
    opacity: .9;
}

.innerImg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 50px;
}

@media (min-width: 1400px) {
    .innerImg {
        margin-bottom: 2.86vw;
    }
}

.ihp2 {
    background-image: url(../img/portfolio/p2/bg-p2.jpg);
    filter: blur(4.5px);
}


.imgP2-1 {
    background-size: cover;
    background-image: url(../img/portfolio/p2/devices-black-2x.png);
    width: 100%;
    height: 500px;
}

@media (min-width: 1400px) {
    .imgP2-1 {
        height: 28.57vw;
    }
}

@media (max-width: 960px) {
    .imgP2-1 {
        background-size: contain;
        height: 300px;
    }
}

@media (max-width: 640px) {
    .imgP2-1 {
        height: 264px;
    }
}

.imgP2-2 {
    background-image: url(../img/portfolio/p2/p2-2.png);
    width: 100%;
    height: 500px;
}

@media (min-width: 1400px) {
    .imgP2-2 {
        height: 28.57vw;
    }
}

@media (max-width: 960px) {
    .imgP2-2 {
        background-size: contain;
        height: 300px;
    }
}

@media (max-width: 640px) {
    .imgP2-2 {
        height: 233px;
    }
}

.imgP2-3 {
    background-image: url(../img/portfolio/p2/p2-3.png);
    width: 100%;
    height: 472px;
}

@media (min-width: 1400px) {
    .imgP2-3 {
        height: 26.97vw;
    }
}

@media (max-width: 960px) {
    .imgP2-3 {
        background-size: contain;
        height: 300px;
    }
}

@media (max-width: 640px) {
    .imgP2-3 {
        height: 233px;
    }
}

.imgP2-3:hover {
    background-image: url(../img/portfolio/p2/p2-3-broked.png);
}

.imgP2-4 {
    background-image: url(../img/portfolio/p2/p2-4.jpg);
    width: 100%;
    height: 500px;
}

@media (min-width: 1400px) {
    .imgP2-4 {
        height: 28.57vw;
    }
}

@media (max-width: 960px) {
    .imgP2-4 {
        background-size: contain;
    }
}

@media (max-width: 640px) {
    .imgP2-4 {
        height: 233px;
        background-size: cover;
    }
}

.backBtn {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    background-color: rgb(255, 167, 0);
    padding: 15px 25px;
    display: inline-block;
}

@media (min-width: 1400px) {
    .backBtn {
        padding: .86vw 1.43vw;
    }
}

.backArr {
    background-image: url(../img/icon/back2-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 6px;
    width: 30px;
    height: 15px;
    display: inline-block;
}

@media (min-width: 1400px) {
    .backArr {
        margin-right: .34vw;
        width: 1.71vw;
        height: .86vw;
    }
}

.backText {
    display: inline-block;
    font-family: var(--f-head);
    font-size: var(--f-lead-size1200);
    color: var(--c-white);
}

/* ---------------- */
